/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.blogpost-content {
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 20px 50px;
    box-shadow: 0 11px 14px -6px rgba(152,152,152,0.41);
    gap: 10px;
}

.return-link {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 5px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------- 5. Media Queries -------------------------------- */