/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */
a {
    font-weight: bold;
    font-size: 14px;
}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

nav {
    background-color: #2d2f39;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-basis: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.default-menu-link {
    color: #FFF;
    text-decoration: none;
}

.active-menu-link {
    color: #74e498;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.nav-logo{
    height: 30px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */