/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.new-post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-button {
    background-color: var(--color-primary);
    border: none;
    padding: 20px 80px;
    margin: 40px 0;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    color: var(--color-white);
    align-self: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */