/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */
.new-post-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    display: block;
    font-weight: bold;
    margin: 15px 0 0 0;
}

input,
textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #2d2f39;
}

.post-button {
    background-color: #74e498;
    border: none;
    padding: 20px 80px;
    margin: 40px 0;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    color: #FFF;
    align-self: center;
}

/* ------------------------------- 5. Media Queries -------------------------------- */